body {
  padding-top: 3rem;
}

/*footer*/
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
   
  }
  
  .footer {
    background-color: rgb(32, 32, 32);
    text-align: center;
  }

  /*album*/
  .container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
 }

 #backone{
  background-image: url('/img/back.jpg');
  background-size: 100%;
 }